.footer-content {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 4%;
    background-color: rgb(228, 219, 221);
    color: white;
    text-align: center;
    height: 9vh;
 }

.FoodFooter_message{
    padding-right: 45%;
}

.FoodFooter_contact{
    padding-left: 55%;
    margin-top: 3%;
}