@use "../../../styles/colors";
$margin: 0.7rem 0;

#BasicInfo__Screen{
    text-align: center;
}
.BasicInfo_Title{
    margin: 1rem !important;
}
.BasicInfo_TextField{
    margin: $margin !important;
}

#BasicInfo__button{
    display: grid;
    grid-template-columns: auto auto;
    margin: 3rem ;
    gap: 1rem;
}

.BasicInfo__Skipbutton{
    float:left;
    background-color:pink ;
}

.BasicInfo__Continuebutton{
    float: right;
    background-color:#DC143C
}