@use "../../../styles/colors";
$margin: 0.5rem 0;

#BasicInfo__Screen{
    text-align: center;
}
.BasicInfo_Title{
    margin: 1rem !important;
}
.BasicInfo_TextField{
    margin: $margin !important;
}

#BasicInfo__button{
    display: block;
    margin: 1rem auto;
    background-color:#DC143C ;
  }
  
