
/*.card{
    width: 30%;
    border-radius: 15px;
    flex-direction: column;
    position: relative;
    transform: scale(.8);
    transition: all .3s ;
    margin-bottom: 50px;

}*/
.main_content{
    @extend.dflex;
    position: relative;
    width: 70%;
    height: 100%;
    margin: 50px auto;
    padding: 50 px 0 0;
    box-sizing: border-box;
    justify-content: space-around;
    flex-wrap: wrap;
}
.dflex{
    display: flex;
    justify-content: center;
    align-items: center;
}



#FoodCart__button{
	margin: 1px !important;
	margin-top: 1px !important;
	font-size: small;
	background-color: rgb(69, 1, 1);
	&:hover {
		transform: scale(1.1);

    }
}






