.GenericCard__Screen{
    display: grid;
    grid-template-columns: 60% 40%;
    box-sizing: border-box ;
    border-bottom: solid #d3d3d3 0.05rem;
    padding: 1rem;
}

.GenericCard__ProductDetails{
    width: 90% ;    
}
.GenericCard__Title{
    margin-bottom: 3%;
}

.GenericCard__Image{
    width: 80%;
    margin-bottom: 5%;
}

.GenericCard__Description{
    font-size: small;
}

.GenericCard__button{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;        
    margin-top: 4%;
    margin-right: 15%;
    gap: 2rem;
}

.GenericCard__Description{
    overflow: hidden;
    text-overflow: ellipsis;        
}

.GenericCard__Description,
.GenericCard__Price{
    font-weight: 400 !important;
    margin: 0 !important;
}

.GenericCard__DecrementIcon{
    border-radius: 50%;
    height:19px;
}

.GenericCard__IncrementIcon{
    border-radius: 50%;
    height:19px;    
}

.GenericCard__CounterText{
    margin: 0 !important;
}


















