.GenericCard__Screen{
    display: grid;
    grid-template-columns: 60% 40%;
    margin-top: 5vw;
    margin: 1.5rem 2.5vw;
    justify-content: center;
    align-items: right;
    align-content: center;
    box-sizing: border-box;
    border-bottom: solid #d3d3d3 0.05rem;
    padding: 0.2rem ;
    
}
.GenericCard__ProductDetails{
      width: 100% ;
      padding-bottom:0.9%;
      padding: 0.3rem;
      align-content: center;
      
}

.GenericCard__Image{
    width: 90%;
    padding: .5rem;
}


.GenericCard__Title{
  font-size: large;
  font-weight: 600 !important; 
}
.GenericCard__button{
    display: flex;
    justify-content: left;
    grid-template-columns: auto auto auto ;
    padding: 0.9rem;
    padding-left: 1.8rem;
    
}
.GenericCard__Description{
        overflow: hidden;
        text-overflow: ellipsis;
        
}
.GenericCard__Price{
    color: #1f0303;
    font-weight: bolder !important;
    padding: 3%;
    
}














