@use "../../../styles/colors";
$margin: 0.5rem 0;

#BasicInfo__wholeScreen{
    display: grid;
    grid-template-columns: 50% auto;
    height: 100vh;
}

#BasicInfo__Screen{
    text-align: center;
    margin: auto 15%;
}
.BasicInfo_Title{
    margin: 1rem !important;
}
.BasicInfo_TextField{
    margin: $margin !important;
}

#BasicInfo_GenderForm{
    text-align: left;
    width: 100%;
}

.BasicInfo_GenderFormTitle{
    font-size: large;
    text-align: left;
}

#BasicInfo__button{
    display: grid;
    grid-template-columns: auto auto;
   
}
.BasicInfo__Skipbutton{
    width: fit-content;
    background-color:rgb(130, 42, 56) !important ;
    justify-self: start;
}
.BasicInfo__Continuebutton{
    width: fit-content;
    background-color:#DC143C !important;
    justify-self: end;
}
#BasicInfo__Screen2{
    text-align: center;
    background-color:rgba(220, 20, 60, 0.5) ;
    align-content: center;
}
.BasicInfoPage__Screen2Title{
    margin-top: 20%;
}
.BasicInfo_TitleOfProduct{
    font-size: 500 !important;
}
.BasicInfo__Screen2Image{
   width: 80%;
   margin-top: 5%;
}