.FoodMainPage__Screen{
    display: grid;
    margin-top: 25%;
    margin-left: 3%;
    grid-template-columns: 60% 40%;
}

.FoodMainPage__Card{
    display: grid;
    padding:2%;
    width: 82% ;
    box-sizing: border-box;
    margin: 0.1rem 1vw;
    justify-content: left;
    box-shadow: 5px 5px 5px 5px #d3d3d3;
    border-bottom: solid #d3d3d3 0.05rem;
    box-sizing: border-box;
}

.FoodMainPage__Card_Details{
    padding: 0.1%;
    height: 15%;   
}
.FoodMainPage__Card_Image{
    padding-bottom: 5%;
    width: 55%;
 
}
.FoodMainPage__Card_title{
    font-size: large;
    font-weight: 500 !important; 
}
.FoodMainPage__Card_description{
    overflow: hidden;
    text-overflow: ellipsis; 
    padding-top: 0.1%;   
}
