#GenericHeader__navbar{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    align-items: center;
    height:75px;
    background-color:#DC143C ;
}
.GenericHeader__Logo{
    color: aliceblue;
}

.GenericHeader__searchbox{
    background-color: white;  
}
.GenericHeader__icon{
    color: aliceblue;
}
