#Header_food{
    text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

#FoodApp__title{
	font-size: xxx-large;
}

#FoodApp__title2 {
	color: colors.rgb(85, 1, 1);
}

#primary-search-account-menu{
	background-color: rgb(63, 40, 40);
}