
$margin: 0.5rem 0;
#ForgetPass__Screen{
    text-align: center;
    margin:auto 15%;
}
.ForgetPass_Title{
    margin:1rem !important;
}

.ForgetPass_Textfield{
    margin: $margin !important;
}

.forgpassToLogIn{
    text-decoration: none;
    color: white;
}