@use "../../../styles/colors";

$margin: 0.5rem 0;

#LogInPage__Screen{
    text-align: center;
    margin: 10%;
    margin-top: 0%;
}
.LogInPage_Title{
    margin-bottom: 8% !important;
}

.LogInPage_Textfield{
    margin: $margin !important;
    margin-bottom: 7%
}
.LogInPage_ForgotPassword{
    margin-left: auto !important;
    float:right;
    display: block;
}
#LogInPage__button{
  display: block;
  margin: 2.8rem auto;
  background-color:#DC143C ;
}
.LogInPage_socialmediaIcon{
    margin: $margin !important;
}

.LogInPage_BackToSignUp{
    margin-bottom: 10rem;
    float:0;
    display: block;
}
#LogInPage__Screen2{
    text-align: center;
    background-color:rgba(220, 20, 60, 0.5) ;
}
.LogInPage_TitleOfProduct{
    font-size: 500 !important;
}
.LogInPage__Screen2Image{
   width: 75%;
   margin-top: 15%;
   margin-left: 5%;

}